/*Image cell styling begin*/

#main{
  display: flex;
  justify-content: center
}
.container {
    position: absolute;
    width: 100%;
    left: 10px;


}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.scene:hover .image {
  opacity: 0.3;
}

.scene:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.scene {
  width: 100%;
  height: 100%;
  border: 3px solid #363333;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  /* cursor: pointer; */
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
    background: white;
    width: 100%;
    height: 100%;
    
}

.card__face--back {
    background: white;
    width: 100%;
    height: 100%;
    
  transform: rotateY(180deg);
}

/* NEW STUFF WITH STACKING */

.stacked:first-child {
opacity: .99; 
}

.red, .green, .blue {
position: absolute;
width: 90%;
color: white;
height: 90%;
text-align: center;
box-shadow: 5px 10px #888888;
}

.red {
top: 0px;
left: 0px;
/* background: red; */
}

.green {
top: 10px;
left: 10px;
/* background: green; */
}

.blue {
z-index: 1;
top: 20px;
left: 20px;
}

.stacked {
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}